{% extends "base.html" %}

{% block main_pannel %}
<div id="title">Signup</div>
{% if error == "ALREADY_SIGNED_UP" %}
<p class="error">
The email address <b>{{ error_value }}</b> has already been used to sign up for an account. Please either signup with a different address, or <a href="password_reset">click here</a> to reset your password.
</p>
{% endif %}

<form action="/register/" method="post">{% csrf_token %}
  <div class="fieldWrapper">
    <label class="field">
      <div class="label">Email</div></label>
    {{ form.email.errors }}
    {{ form.email }}
  </div>
  <div class="fieldWrapper">
    <label class="field">
      <div class="label">Firstname</div>
    </label>
    {{ form.firstname.errors }}
    {{ form.firstname }}
  </div>
  <div class="fieldWrapper">
    <label class="field">
      <div class="label">Surname</div>
    </label>
    {{ form.surname.errors }}
    {{ form.surname }}
  </div>
  <div class="fieldWrapper">
    <label class="field">
      <div class="label">Password</div>
    </label>
    {{ form.password.errors }}
    {{ form.password }}
  </div>
  <div class="fieldWrapper">
    <input type="submit" id="submit" value="Submit" />
  </div>
</form>
{% endblock %}

{% block right_panel %}
<p>
Please sign up for an account for Rotarise. This will allow you to sign up for the various rotas on offer.
</p>


Alternatively, if you already have an account, please <a href='/login/'>login here.</a>
{% endblock %}
